.act3322 {
  max-width: 1000px;
  overflow-x: auto;
  margin: auto;

  .btn-combo,
  .btn-22,
  .btn-33 {
    width: 174px;
    height: 57px;
    line-height: 57px;
    margin: auto;
    color: #fff;
  }

  .btn-combo {
    display: block;
    background: #e4c22b;
  }

  .box22,
  .box33 {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
  }
  .btn-22 {
    background: #497cd6;
  }
  .btn-33 {
    background: #82defa;
  }
  .btn22_animate {
    width: calc(1804px / 4);
    height: calc(1503px / 3);
    margin: auto;
    background: url('../../../assets/Xmas/22-i.png') 0 0 no-repeat;
  }

  .btn33_animate {
    width: calc(1324px / 4);
    height: calc(1353px / 3);
    margin: auto;
    background: url('../../../assets/Xmas/33-i.png') 0 0 no-repeat;
  }
}
